{{page-title "Home"}}
<div class="homepage">
  <header class="main-header" style="background-image: url('homepage.jpg');">
    <h1>Welcome to Gourmet Hub!</h1>
    <p>Your destination for fine dining and exquisite cuisines.</p>
  </header>

  <section class="about-us card">
    <h2>About Us</h2>
    <p>At Gourmet Hub, we believe in more than just serving food; we deliver an
      experience. Our culinary journey is rooted in tradition, fused with
      innovative techniques, and presented with a modern flair. Every dish tells
      a story, crafted with dedication by our passionate chefs.</p>
    <p>We are committed to excellence in every meal we serve. From sourcing
      artisanal ingredients from local farmers to meticulously preparing each
      recipe, our focus is on delivering unmatched quality and taste. Our menu
      changes seasonally to highlight the freshest produce and vibrant flavors
      of the region.</p>
    <p>Community engagement and sustainable practices are at the core of our
      values. Gourmet Hub actively participates in community service and
      environmental initiatives to promote sustainability. We strive to minimize
      waste, recycle, and use environmentally friendly products throughout our
      operations.</p>

  </section>

  <footer class="footer-info">
    <div class="visit-us">
      <h2>Visit Us</h2>
      <p><strong>Location:</strong> 123 Foodie Lane, Gastronomy City, 98765</p>
      <p><strong>Hours:</strong> Monday to Sunday, 11:00 AM - 10:00 PM</p>
    </div>
    <div class="contact-us">
      <h2>Contact Us</h2>
      <p>Phone: (123) 456-7890</p>
      <p>Email: contact@gourmethub.com</p>
    </div>
  </footer>
</div>

{{outlet}}